<footer class="section-sm bg-tertiary">

	<div class="row align-items-center mt-5 text-center text-md-start">
		<div class="col-lg-4">
			<a href="index.html">
				<img loading="prelaod" decoding="async" class="img-fluid" width="160" src="images/logo.png"
					alt="Arzet Home Improvement">
			</a>
		</div>
		<div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
			<ul class="list-unstyled list-inline mb-0 text-lg-center">
				<li><a class="text-black" href="https://www.midwestdev.net/"><img loading="prelaod" decoding="async"
							class="img-fluid" width="180" src="images/midwest.png"></a></li>
			</ul>

		</div>
		<div class="col-lg-4 col-md-6 text-md-end mt-4 mt-md-0">
			<ul class="list-unstyled list-inline mb-0 social-icons">
				<li class="list-inline-item me-3"><a title="Explorer Facebook Profile" class="text-black"
						href="https://www.facebook.com/arzethomeimprovements/"><i class="fab fa-facebook-f"></i></a>
				</li>
				<li class="list-inline-item me-3"><a title="Explorer Twitter Profile" class="text-black"
						href="https://www.tiktok.com/@rubeni.arzet"><i class="fab fa-tiktok"></i></a>
				</li>
				<li class="list-inline-item me-3"><a title="Explorer Instagram Profile" class="text-black"
						href="https://www.instagram.com/arzet_home_improvements/?igshid=NTc4MTIwNjQ2YQ%3D%3D"><i
							class="fab fa-instagram"></i></a>
				</li>
			</ul>
		</div>
	</div>
	</div>
</footer>


<!-- # JS Plugins -->
<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<script src="plugins/slick/slick.min.js"></script>
<script src="plugins/scrollmenu/scrollmenu.min.js"></script>

<!-- Main Script -->
<script src="js/script.js"></script>

</body>

</html>