<!-- navigation -->
<header class="navigation bg-tertiary">
  <nav class="navbar navbar-expand-xl navbar-light text-center py-3">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img loading="prelaod" decoding="async" class="img-fluid" width="160" src="images/logo.png"
          alt="Arzet Home Improvement">
      </a>

    </div>
  </nav>
</header>
<!-- /navigation -->

<div class="modal applyLoanModal fade" id="applyLoan" tabindex="-1" aria-labelledby="applyLoanLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h4 class="modal-title" id="exampleModalLabel">How Can We Help You?</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="#!" method="post">
          <div class="row">
            <div class="col-lg-6 mb-4 pb-2">
            </div>
            <div class="col-lg-12 mb-4 pb-2">
              <h1 class="container">
                <a type="button" class="btn btn-primary btn-lg"
                  href="https://www.homeadvisor.com/rated.ArzetHandymanInc.34976893.html">
                  Click HERE to Check Out People's Rating & Reviews <span style="font-size: 14px;"
                    class="ms-2 fas fa-users"></span>
                </a>
              </h1>

            </div>
            <div class="col-lg-6 mb-4 pb-2">
              <div class="form-group">
                <label for="loan_full_name" class="form-label">Full Name</label>
                <input type="text" class="form-control shadow-none" id="loan_full_name">
              </div>
            </div>
            <div class="col-lg-6 mb-4 pb-2">
              <div class="form-group">
                <label for="loan_email_address" class="form-label">Email address</label>
                <input type="email" class="form-control shadow-none" id="loan_email_address">
              </div>
            </div>
            <div class="col-lg-12">
              <a href="mailto:arzethome@gmail.com" class="btn btn-primary w-100">Get your Handyman Now</a>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>